body {
  font-family: "Verdana";
  height: 100%;
  width: 100%;
  margin: 0px;
}

.capitalize {
  text-transform: capitalize;
}

#file_components_list {
  font-weight: normal;
}

#file_text {
  height: 96%;
  width: 99%;
}

#file_tree {
  cursor: pointer;
  list-style-type: none;
  padding: 0;
  margin: 4px;
}

.file_tree_item_selected {
  font-weight: bold;
}

#left_col_div {
  border: 1px solid #ccc;
  flex: 1;
  margin-right: 6px;
  max-width: 400px;
  overflow-x: scroll;
  overflow-y: scroll;
}

#open_file {
  visibility: hidden;
}

#main_div {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 8px;
}

.monospace_text {
  font-family: monospace;
}

.nested_item {
  padding-inline-start: 24px;
}

#right_col_div {
  flex: 2;
}

#summary_file_encrypted {

}

#summary_file_encrypted_password {
  width: 40%;
  display: none;
}

#summary_file_encrypted_password_img {
  cursor: pointer;
  float: right;
  height: 17px;
  margin: 2px;
  padding-left: 2px;
}

#summary_file_encrypted_password_txt {
  float: right;
  width: 50%;
}

#summary_file_table {
  min-width: 500px;
}

#tab_body_text {
  display: none;
}

.tab_item {
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  padding: 4px;
  text-align: center;
  width: 120px
}

#tab_row {
  margin-bottom: 8px;
}

.tab_selected {
  background-color: #4285f4;
  color: white;
}

#tab_summary {

}

.tab_summary_label {
  font-size: 14px;
  font-weight: bold;
  min-width: 175px;
}

.tab_summary_value {
  font-size: 14px;
}

.table_align {
  padding-left: 3px;
}

#toolbar {
  background-color: #eee;
  font-size: 11px;
  height: 64px;
  width: 100%;
  padding-left: 8px;
  padding-top: 8px;
  text-align: center;
  top: 0px;
}

.toolbar_button {
  cursor: pointer;
  width: 60px;
}

#toolbar_open {

}

.top_space {
  margin-top: 6px;
}
